<%- include("partials/header") %>

<main
    class="home-page"
    style="background-image: url('<%= background %>');">

    <div class="home-content">
        <h2>Welcome to the Solar System Lab!</h2>

        <p>Select a planet from the navigation menu.</p>
    </div>

</main>

<%- include("partials/footer") %>